.header {
  color: var(--primary-text);
  background: var(--primary-bg);
  position: fixed;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
  z-index: 9;
  width: 100%;
  padding: 15px 0;
  .panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 150px;
      }
    }
    .menu {
      ul {
        display: flex;
        align-items: center;
        .sub-menu {
          box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
          background: var(--primary-bg);
          color: var(--primary-text);
          flex-direction: column;
          align-items: flex-start;
          position: absolute;
          top: 49px;
          left: 0;
          width: 200px;
          display: none;
        }
        // li:hover .sub-menu{
        //     display: block;
        // }
        li {
          margin-left: 40px;
          position: relative;
        }
        a {
          color: var(--primary-text);
          font-size: $font18;
          text-decoration: none;
          padding: 20px 0;
        }
        img {
          width: 14px;
          vertical-align: middle;
          margin-left: 5px;
        }
        img:hover{
          rotate: 180deg;
        }
        li:hover a {
          color: var(--secondary-btn-text);
        }

        .sub-menu li {
          margin-left: 0;
        }
        .sub-menu li a {
          color: var(--primary-text);
          border-bottom: 1px solid #f1f1f1;
          width: 200px;
          font-size: $font14;
          padding: 10px;
          display: block;
        }
        .sub-menu li a:hover {
          color: var(--primary-text);
          background: var(--primary-image);
          transition: all 0.3s ease-in;
        }
      }
    }
    .humbger-menu {
      display: none;
    }
    .header-button {
      .btn-one {
        background: var(--primary-btn-bg);
        border-radius: 30px;
        font-size: $font20;
        color: var(--secondary-text);
        padding: 10px 25px;
      }
      .btn-two:hover {
        background: var(--secondary-hover);
        color: var(--primary-text-hover);
        transition: all 0.5s ease-in;
      }
      .btn-two {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
        border-radius: 30px;
        font-size: $font20;
        margin-left: 20px;
        color: var(--secondary-btn-text);
        padding: 10px 25px;
      }
      .btn-one:hover {
        background: var(--secondary-hover);
        color: var(--primary-text-hover);
        transition: all 0.5s ease-in;
      }
    }
    .icon-menu {
      display: none;
    }
  }
}

/* reponsive Css */

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header .panel {
    .logo img {
      width: 100%;
    }
    .menu {
      display: none;
    }
    .header-button {
      display: none;
    }
    .icon-menu {
      display: block;
      position: relative;
      img {
        width: 20px;
      }
    }
  }
  button .test {
    display: none;
  }
  .test .close {
    display: block;
  }
  .icon-menu {
    background: none;
    border: none;
  }
  .responsive-menu {
    position: absolute;
    top: 57px;
    background: var(--primary-bg);
    color: #677294;
    right: 2px;
    font-size: $font14;
    text-align: left;
    width: 360px;
  }
  .test {
    border-top: 1px solid #dbeefd;
    padding: 10px 0;
  }
  .test p {
    padding-left: 20px;
  }
}
.humbger-menu {
  display: block;
  img {
    width: 24px;
  }
}
.icon-menu {
  display: block;
}
.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 85%;
  max-width: 340px;
  z-index: 9999;
  height: 100vh;
  display: none;
  box-shadow: 0 0px 12px rgb(0 0 0 / 10%);
  ul {
    flex-direction: column;
  }
  li {
    border-bottom: 1px solid #f9f9f9;
    width: 100%;
    padding: 15px;
    a {
      color: #323232;
      font-size: 14px;
    }
  }
  .mobmenu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #f9f9f9;
    .close {
      font-size: 30px;
    }
  }
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  display: none;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: 5000;
}
